.place__paragraph-container {
    display: flex;
    flex-direction: column;
   row-gap: 26px;
  }
  @media screen and (max-width: 767px) {
    .place__paragraph-container {
      margin: 0 16px 0;
      
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph-container {
     row-gap: 25px;
      
    }
  }


