.intro__text {
  color: #ffffff;
  max-width: 690px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
.intro__text {
    max-width: 720px;
}
}

@media screen and (max-width: 767px) {
  .intro__text {
    padding: 0;
    margin-top: 40px;
  }
}
