.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 92px;
  margin: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
.intro {
  width: 928px;
}
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    width: 720px;
    padding: 88px 0 0 0;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    width: 288px;
    padding-top: 64px;
  }
}
/*@media screen and (max-width: 320px) {
  .intro {
    width: 288px;
    padding: 0;
    margin: 64px 16px 0 16px;
  }
}
*/
/* между брейкпойнтами 320 элемент не должен примыкать к краю экрана */