.place {
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 48px;
  column-gap: 40px;
  padding: 0 0 80px 0;
  margin: 0;
  color: #ffffff;
}
.place:nth-of-type(5n) {
  padding-bottom: 92px;
}
@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px auto;
    grid-template-rows: repeat(2, auto);
    row-gap: 48px;
    column-gap: 32px;
    padding-bottom: 80px;
  }
  .place:nth-of-type(5n) {
    padding-bottom: 92px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px auto;
    grid-template-rows: repeat(2, auto);
    row-gap: 48px;
    column-gap: 28px;
    padding-bottom: 72px;
  }

  .place:nth-of-type(5n) {
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 32px;
    padding: 0;
  }
}
