.footer__list-item {
  display: list-item;
}
.footer__list-item:nth-of-type(5n) {
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .footer__list-item {
    padding-bottom: 32px;
    padding-left: 16px;
  }
}
